<h1 class="sub-title">Курсы</h1>

{{#if courses.length}}
  {{#each courses}}
    <div class="row">
      <div class="col s5 offset-s5">
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="{{title}}" />

          </div>
          <div class="card-content">
            <span class="card-title">{{title}}</span>
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action actions">

            <a href="/courses/{{_id}}" target="_blank">Открыть курс</a>
            {{#if @root.isAuth}}

              {{#ifeq userId._id @root.userId}}
                <a href="/courses/{{_id}}/edit?allow=true">Редактировать</a>
              {{/ifeq}}

              <form action="/cart/add" method="POST">
                <input type="hidden" name="id" value="{{_id}}" />
                <input type="hidden" name="_csrf" value="{{@root.csrf}}" />
                <button type="submit" class="btn btn-primary">Купить</button>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <p class="mini-title">Курсов пока нет</p>
  
  <img
  class="img-logo" 
  src="https://assets.wprock.fr/emoji/joypixels/512/1f937-2642.png" 
  alt="logo">
{{/if}}