<h1 class="sub-title">Мои заказы</h1>

{{#if orders.length}}
  {{#each orders}}
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Заказ
              <small>{{_id}}</small>
            </span>
            <p class="date">{{date}}</p>
            <p><em>{{user.userId.name}}</em> ({{user.userId.email}})</p>
            <ol>
              {{#each courses}}
                <li>
                  {{course.title}}
                  (x<strong>{{count}}</strong>)
                </li>
              {{/each}}

            </ol>
            <hr />
            <p>Цену: <span class="price">{{price}}</span></p>
          </div>
        </div>
      </div>

    </div>
  {{/each}}
{{else}}
  <p class="mini-title">Заказов нет</p>

  <img
    class="img-logo"
    src="https://st4.depositphotos.com/12901430/29985/v/600/depositphotos_299853162-stock-illustration-confused-stickman-character-making-shrug.jpg"
    alt="logo"
  />
{{/if}}